@keyframes loading-animation {
  0% {
    stroke-dashoffset: 1500px;
    stroke-dasharray: 1500px;
  }
  30% {
    stroke-dashoffset: 1500px;
    stroke-dasharray: 1500px;
  }
  90% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes loading-animation {
  0% {
    stroke-dashoffset: 1500px;
    stroke-dasharray: 1500px;
  }
  30% {
    stroke-dashoffset: 1500px;
    stroke-dasharray: 1500px;
  }
  90% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.loading-path-anim {
  animation: 1.5s linear 0s infinite alternate both running loading-animation;
  -webkit-animation: 1.5s linear 0s infinite alternate both running
    loading-animation;
}
.loading-path {
  stroke-width: 2px;
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-opacity: 1;
  stroke-miterlimit: 4;
}

.loading-svg {
  height: 15vh;
  width: calc(15vh * 3);
}

.loading-container {
  position: absolute;
  z-index: 100;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
